<a href="https://colab.research.google.com/github/Thcataclismo/Data-sciense-/blob/main/scraping_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Importando bibliotecas
import pandas as pd 
import requests

In [ ]:
#Criando header
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}

url = 'https://br.investing.com/equities/brazil'
requests = requests.get(url, headers=header)

df = pd.read_html(requests.text)
df

[    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
 0          NaN             Rumo ON    2070    2090    2019         0   0,00%
 1          NaN       Alpargatas PN    2090    2129    2063        15  +0,72%
 2          NaN            Ambev ON    1504    1511    1490        15  +1,01%
 3          NaN           Arezzo ON    9937   10060    9817       -63  -0,63%
 4          NaN  Banco do Brasil ON    4360    4368    4170       195  +4,68%
 ..         ...                 ...     ...     ...     ...       ...     ...
 87         NaN        Rede D'Or ON    2947    3029    2894       -23  -0,77%
 88         NaN    CSN Mineração ON     336     343     328         7  +2,13%
 89         NaN            Assaí ON    1801    1880    1785       -34  -1,85%
 90         NaN           Raizen PN     420     423     413         4  +0,96%
 91         NaN        Iguatemi Unt    2151    2178    2125        11  +0,51%

       Vol.      Hora  Unnamed: 9
 0   17,08M  17:07:39         NaN
 1    1,94M  17:07:55         NaN
 2   25,14M  17:12:13         NaN
 3    1,05M  17:07:48         NaN
 4   35,30M  18:42:50         NaN
 ..     ...       ...         ...
 87   6,14M  17:07:00         NaN
 88   8,67M  17:07:00         NaN
 89  15,79M  17:07:00         NaN
 90  13,40M  17:07:00         NaN
 91   4,34M  17:07:00         NaN

 [92 rows x 10 columns],     0                 1         2    3       4   5   6
 0 NaN          Ibovespa   117.171  897  +0,77% NaN NaN
 1 NaN  Ibovespa Futuros   118.950  700  +0,59% NaN NaN
 2 NaN            US 500   3.648,8 -170  -0,46% NaN NaN
 3 NaN             US 30  30.247,5 -861  -0,28% NaN NaN
 4 NaN       S&P 500 VIX      2998  -78  -2,54% NaN NaN
 5 NaN    Bitcoin Futuro  18.957,5 -425  -0,22% NaN NaN
 6 NaN      Índice Dólar    112750 -129  -0,11% NaN NaN,     0                1         2     3       4   5   6
 0 NaN   Petróleo Brent      9266    -7  -0,08% NaN NaN
 1 NaN     Petróleo WTI      8456     5  +0,06% NaN NaN
 2 NaN  Café Contrato C     18848  -382  -1,99% NaN NaN
 3 NaN             Soja  1.391,00  1800  +1,31% NaN NaN
 4 NaN         Cacau NY  2.314,00   600  +0,26% NaN NaN
 5 NaN             Ouro  1.630,30  -650  -0,40% NaN NaN
 6 NaN   Açúcar NY nº11      1840   -25  -1,34% NaN NaN,     0        1      2   3       4   5   6
 0 NaN  USD/BRL  52180  33  +0,06% NaN NaN
 1 NaN  EUR/BRL  51032  17  +0,03% NaN NaN
 2 NaN  EUR/USD   9780  -3  -0,03% NaN NaN
 3 NaN  USD/JPY  15016   3  +0,02% NaN NaN
 4 NaN  GBP/USD  11225  -8  -0,07% NaN NaN
 5 NaN  GBP/BRL  58572 -46  -0,08% NaN NaN
 6 NaN  CAD/BRL  37875  -4  -0,01% NaN NaN,     0                  1     2    3        4   5   6
 0 NaN       Petrobras PN  3647  105   +2,96% NaN NaN
 1 NaN            Vale ON  7202   91   +1,28% NaN NaN
 2 NaN             Via ON   303  -23   -7,06% NaN NaN
 3 NaN  Magazine Luiza ON   409  -10   -2,39% NaN NaN
 4 NaN      IRB Brasil ON   104   -3   -2,80% NaN NaN
 5 NaN              Oi ON    26   -4  -13,33% NaN NaN
 6 NaN             Weg ON  3466    1   +0,03% NaN NaN,    Unnamed: 0                Nome  Último     Var%     Vol.  Unnamed: 5  \
 0         NaN        Petrobras PN    3647   +2,96%  113,78M         NaN
 1         NaN       Americanas ON    1415  -13,77%  102,56M         NaN
 2         NaN    Itaú Unibanco PN    3006   +1,55%   68,44M         NaN
 3         NaN         Bradesco PN    2030   +1,15%   49,55M         NaN
 4         NaN             Vale ON    7202   +1,28%   37,18M         NaN
 5         NaN  Banco do Brasil ON    4360   +4,68%   35,30M         NaN
 6         NaN        Petrobras ON    4019   +2,68%   27,32M         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ,    Unnamed: 0                   Nome  Último     Var%     Vol.  Unnamed: 5  \
 0         NaN  Fiset Reflorestamento     280  +12,00%  811,00K         NaN
 1         NaN            Corning BDR   16640  +11,27%    0,01K         NaN
 2         NaN  Quest Diagnostics BDR   35079  +10,35%    0,38K         NaN
 3         NaN          OSX Brasil ON     631   +8,61%    8,90K         NaN
 4         NaN       Lam Research BDR   46650   +7,84%    0,00K         NaN
 5         NaN              Bahema ON    1392   +7,82%    2,50K         NaN
 6         NaN          FII Vida Nova     377   +7,71%   13,48K         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ,    Unnamed: 0                                           Nome  Último     Var%  \
 0         NaN                                   Comerica BDR   16983  -17,47%
 1         NaN                                     Sequoia ON     497  -15,62%
 2         NaN                                      Cosern ON    1900  -15,52%
 3         NaN                                       Tenda ON     485  -15,51%
 4         NaN                                   Ericsson BDR    1428  -14,70%
 5         NaN  FII RB Capital Desenvolvimento Residencial II     325  -14,47%
 6         NaN                                     Watsco DRC    4979  -14,26%

      Vol.  Unnamed: 5  Unnamed: 6
 0   0,04K         NaN         NaN
 1  12,70M         NaN         NaN
 2   4,70K         NaN         NaN
 3   9,88M         NaN         NaN
 4   6,12K         NaN         NaN
 5   0,20K         NaN         NaN
 6   0,01K         NaN         NaN  ]

In [ ]:
#Transformando dados em listas
for i , tabela in enumerate(df):
  print('---------------------------')
  print(i)
  print(tabela)

---------------------------
0
    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
0          NaN             Rumo ON    2070    2090    2019         0   0,00%
1          NaN       Alpargatas PN    2090    2129    2063        15  +0,72%
2          NaN            Ambev ON    1504    1511    1490        15  +1,01%
3          NaN           Arezzo ON    9937   10060    9817       -63  -0,63%
4          NaN  Banco do Brasil ON    4360    4368    4170       195  +4,68%
..         ...                 ...     ...     ...     ...       ...     ...
87         NaN        Rede D'Or ON    2947    3029    2894       -23  -0,77%
88         NaN    CSN Mineração ON     336     343     328         7  +2,13%
89         NaN            Assaí ON    1801    1880    1785       -34  -1,85%
90         NaN           Raizen PN     420     423     413         4  +0,96%
91         NaN        Iguatemi Unt    2151    2178    2125        11  +0,51%

      Vol.      Hora  Unnamed: 9
0   17,08M  17:07:39         NaN
1    1,94M  17:07:55         NaN
2   25,14M  17:12:13         NaN
3    1,05M  17:07:48         NaN
4   35,30M  18:42:50         NaN
..     ...       ...         ...
87   6,14M  17:07:00         NaN
88   8,67M  17:07:00         NaN
89  15,79M  17:07:00         NaN
90  13,40M  17:07:00         NaN
91   4,34M  17:07:00         NaN

[92 rows x 10 columns]
---------------------------
1
    0                 1         2    3       4   5   6
0 NaN          Ibovespa   117.171  897  +0,77% NaN NaN
1 NaN  Ibovespa Futuros   118.950  700  +0,59% NaN NaN
2 NaN            US 500   3.648,8 -170  -0,46% NaN NaN
3 NaN             US 30  30.247,5 -861  -0,28% NaN NaN
4 NaN       S&P 500 VIX      2998  -78  -2,54% NaN NaN
5 NaN    Bitcoin Futuro  18.957,5 -425  -0,22% NaN NaN
6 NaN      Índice Dólar    112750 -129  -0,11% NaN NaN
---------------------------
2
    0                1         2     3       4   5   6
0 NaN   Petróleo Brent      9266    -7  -0,08% NaN NaN
1 NaN     Petróleo WTI      8456     5  +0,06% NaN NaN
2 NaN  Café Contrato C     18848  -382  -1,99% NaN NaN
3 NaN             Soja  1.391,00  1800  +1,31% NaN NaN
4 NaN         Cacau NY  2.314,00   600  +0,26% NaN NaN
5 NaN             Ouro  1.630,30  -650  -0,40% NaN NaN
6 NaN   Açúcar NY nº11      1840   -25  -1,34% NaN NaN
---------------------------
3
    0        1      2   3       4   5   6
0 NaN  USD/BRL  52180  33  +0,06% NaN NaN
1 NaN  EUR/BRL  51032  17  +0,03% NaN NaN
2 NaN  EUR/USD   9780  -3  -0,03% NaN NaN
3 NaN  USD/JPY  15016   3  +0,02% NaN NaN
4 NaN  GBP/USD  11225  -8  -0,07% NaN NaN
5 NaN  GBP/BRL  58572 -46  -0,08% NaN NaN
6 NaN  CAD/BRL  37875  -4  -0,01% NaN NaN
---------------------------
4
    0                  1     2    3        4   5   6
0 NaN       Petrobras PN  3647  105   +2,96% NaN NaN
1 NaN            Vale ON  7202   91   +1,28% NaN NaN
2 NaN             Via ON   303  -23   -7,06% NaN NaN
3 NaN  Magazine Luiza ON   409  -10   -2,39% NaN NaN
4 NaN      IRB Brasil ON   104   -3   -2,80% NaN NaN
5 NaN              Oi ON    26   -4  -13,33% NaN NaN
6 NaN             Weg ON  3466    1   +0,03% NaN NaN
---------------------------
5
   Unnamed: 0                Nome  Último     Var%     Vol.  Unnamed: 5  \
0         NaN        Petrobras PN    3647   +2,96%  113,78M         NaN
1         NaN       Americanas ON    1415  -13,77%  102,56M         NaN
2         NaN    Itaú Unibanco PN    3006   +1,55%   68,44M         NaN
3         NaN         Bradesco PN    2030   +1,15%   49,55M         NaN
4         NaN             Vale ON    7202   +1,28%   37,18M         NaN
5         NaN  Banco do Brasil ON    4360   +4,68%   35,30M         NaN
6         NaN        Petrobras ON    4019   +2,68%   27,32M         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
---------------------------
6
   Unnamed: 0                   Nome  Último     Var%     Vol.  Unnamed: 5  \
0         NaN  Fiset Reflorestamento     280  +12,00%  811,00K         NaN
1         NaN            Corning BDR   16640  +11,27%    0,01K         NaN
2         NaN  Quest Diagnostics BDR   35079  +10,35%    0,38K         NaN
3         NaN          OSX Brasil ON     631   +8,61%    8,90K         NaN
4         NaN       Lam Research BDR   46650   +7,84%    0,00K         NaN
5         NaN              Bahema ON    1392   +7,82%    2,50K         NaN
6         NaN          FII Vida Nova     377   +7,71%   13,48K         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
---------------------------
7
   Unnamed: 0                                           Nome  Último     Var%  \
0         NaN                                   Comerica BDR   16983  -17,47%
1         NaN                                     Sequoia ON     497  -15,62%
2         NaN                                      Cosern ON    1900  -15,52%
3         NaN                                       Tenda ON     485  -15,51%
4         NaN                                   Ericsson BDR    1428  -14,70%
5         NaN  FII RB Capital Desenvolvimento Residencial II     325  -14,47%
6         NaN                                     Watsco DRC    4979  -14,26%

     Vol.  Unnamed: 5  Unnamed: 6
0   0,04K         NaN         NaN
1  12,70M         NaN         NaN
2   4,70K         NaN         NaN
3   9,88M         NaN         NaN
4   6,12K         NaN         NaN
5   0,20K         NaN         NaN
6   0,01K         NaN         NaN

In [ ]:
#Transformnado lista em Dataframe
df = pd.DataFrame(df[0])

In [ ]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,2070,2090,2019,0,"0,00%","17,08M",17:07:39,NaN
1,NaN,Alpargatas PN,2090,2129,2063,15,"+0,72%","1,94M",17:07:55,NaN
2,NaN,Ambev ON,1504,1511,1490,15,"+1,01%","25,14M",17:12:13,NaN
3,NaN,Arezzo ON,9937,10060,9817,-63,"-0,63%","1,05M",17:07:48,NaN
4,NaN,Banco do Brasil ON,4360,4368,4170,195,"+4,68%","35,30M",18:42:50,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,Rede D'Or ON,2947,3029,2894,-23,"-0,77%","6,14M",17:07:00,NaN
88,NaN,CSN Mineração ON,336,343,328,7,"+2,13%","8,67M",17:07:00,NaN
89,NaN,Assaí ON,1801,1880,1785,-34,"-1,85%","15,79M",17:07:00,NaN
90,NaN,Raizen PN,420,423,413,4,"+0,96%","13,40M",17:07:00,NaN
91,NaN,Iguatemi Unt,2151,2178,2125,11,"+0,51%","4,34M",17:07:00,NaN

In [ ]:
#Criando campó com separacao de casas decimais 
df['Último'] = df['Último'] /100
df['Máxima'] = df['Máxima'] /100
df['Mínima'] = df['Mínima'] /100

In [ ]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,20.70,20.90,20.19,0,"0,00%","17,08M",17:07:39,NaN
1,NaN,Alpargatas PN,20.90,21.29,20.63,15,"+0,72%","1,94M",17:07:55,NaN
2,NaN,Ambev ON,15.04,15.11,14.90,15,"+1,01%","25,14M",17:12:13,NaN
3,NaN,Arezzo ON,99.37,100.60,98.17,-63,"-0,63%","1,05M",17:07:48,NaN
4,NaN,Banco do Brasil ON,43.60,43.68,41.70,195,"+4,68%","35,30M",18:42:50,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,Rede D'Or ON,29.47,30.29,28.94,-23,"-0,77%","6,14M",17:07:00,NaN
88,NaN,CSN Mineração ON,3.36,3.43,3.28,7,"+2,13%","8,67M",17:07:00,NaN
89,NaN,Assaí ON,18.01,18.80,17.85,-34,"-1,85%","15,79M",17:07:00,NaN
90,NaN,Raizen PN,4.20,4.23,4.13,4,"+0,96%","13,40M",17:07:00,NaN
91,NaN,Iguatemi Unt,21.51,21.78,21.25,11,"+0,51%","4,34M",17:07:00,NaN

In [ ]:
df.drop(['Unnamed: 0', 'Unnamed: 9'], axis=1)

,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora
0,Rumo ON,20.70,20.90,20.19,0,"0,00%","17,08M",17:07:39
1,Alpargatas PN,20.90,21.29,20.63,15,"+0,72%","1,94M",17:07:55
2,Ambev ON,15.04,15.11,14.90,15,"+1,01%","25,14M",17:12:13
3,Arezzo ON,99.37,100.60,98.17,-63,"-0,63%","1,05M",17:07:48
4,Banco do Brasil ON,43.60,43.68,41.70,195,"+4,68%","35,30M",18:42:50
...,...,...,...,...,...,...,...,...
87,Rede D'Or ON,29.47,30.29,28.94,-23,"-0,77%","6,14M",17:07:00
88,CSN Mineração ON,3.36,3.43,3.28,7,"+2,13%","8,67M",17:07:00
89,Assaí ON,18.01,18.80,17.85,-34,"-1,85%","15,79M",17:07:00
90,Raizen PN,4.20,4.23,4.13,4,"+0,96%","13,40M",17:07:00
91,Iguatemi Unt,21.51,21.78,21.25,11,"+0,51%","4,34M",17:07:00